<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>vue增加便签</title>
<script src="vue.js"></script>
<style>
  
</style>
</head>
<body>
<div class="box">
    <input type="text" v-on:keyup.13="add" v-model='newinfo'>
    <span ng-show='list.length'>正在处理一条数据</span>
    <div>
    	<li v-for='item in list'>
      <input type="checkbox" v-model='item.checked'>
      <span v-show='item.checked'>{{item.title}}</span>
      <button v-on:click='delete1(item)'>删除</button>
      </li>
    </div>
</div>
</body>
<script>var list=[{title:'吃饭打豆豆','checked':true},{title:'吃饭看豆豆','checked':true}]</script>
<script>
	new Vue({
       el:'.box',
       data:{
       	'list':list,
        'newinfo':''
       },
       methods:{
         add(){                    
              this.list.push(this.newinfo);
         },
         delete1(item){
           console.log(item)
           this.list.splice(this.list.indexOf(item),1)
         }
         
       }
	})
</script>

</html>