<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title></title>
<script src='vue.js'></script>
</head>
<body>
    <div id="box">
       	<input type="checkbox" v-model='selectPerson'>
       	<label>Liu</label>
       	<input type="checkbox" v-model='selectPerson'>
       	<label>Mite</label>
       	<input type="checkbox" v-model='selectPerson'>
       	<label>Jiong</label>
    </div>
 <script>
 	new Vue({
 		el:'#box',
 		data:{
 			selectPerson:[]
 		}
 	})
 </script>
</body>
</html>