<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Examples</title>
<script src="vue.js"></script>
</head>
<body>
    <div id="box">
    <!-- 	<hello1 v-bind:list='list1'></hello1>
    	<hello2 v-bind:list='list2'></hello2>	 -->
    	<data-father v-on:aa='sideAdd'></data-father>
    	<h1>{{sideCount}}</h1>
    </div>
    <script>
    	// Vue.component('hello1',{
    	// 	props:['list'],
    	// 	template:'<ul><li v-for="(item,index) in list">{{index+1}}{{item}}</li></ul>'
    	// });
    	// Vue.component('hello2',{
    	// 	props:['list'],
    	// 	template:'<ul><li v-for="(item,index) in list">{{index+1}}{{item}}</li></ul>'
    	// });
    	Vue.component('dataFather',{
    		template:'<div><button v-on:click="addCount">加一</button><p>{{counter}}</p></div>',
    		data:function(){
    			return {counter:0}
    		},
    		methods:{
    			addCount(){
    				this.counter++;
    				this.$emit('aa',this.counter)
    			}
    		},

    	})
    	new Vue({
    		el:'#box',
    		data:{
    			list1:['sdfsa','sdfsdf','asdf','asdfsadf'],
    			list2:['124123','123123','12312340988','082134'],
    			sideCount:0
    		},
    		methods:{
    			sideAdd:function(data){
    				console.log(data)
    				this.sideCount++;
    			}
    		}
    	})
    </script>
</body>
</html>