<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <script src="vue.js"></script>
    <style>
    li {
        list-style: none;
    }
    li span{position:relative;}
    i{position:absolute; width:100%; border:solid 1px #ccc; top:8px;}
    .server{width:200px; height:200px; background: red;}
    </style>
</head>

<body>
    <div class="box">
        <input type="text" v-on:keyup.13='addTitle' v-model='newPassage'>
        <span v-show="list.length">有信息</span>
        <ul>
            <li v-for='item in list'>
              <input type="checkbox" v-model='item.titlechecked'>
              <span v-if='item.editPassage' v-on:click='item.editPassage=false'><i v-show='item.titlechecked'></i>{{item.title}}</span>
              <input type="text" v-model='item.title' v-on:keyup.13='item.editPassage=true' v-else>
              <button v-on:click='deleteArr'>删除</button>
            </li>
        </ul>
        <div class="server" @dbclick='testOne'></div>
    </div>
<script>
var list=[
   {'title':'miaov第一人','titlechecked':false,editPassage:true},
   {'title':'新增会员','titlechecked':false,editPassage:true}
]
 new Vue({
 	el:'.box',
 	data:{
        'list':list,
        newPassage:'',       
    },
 	methods:{
      addTitle(){
        this.list.push({title:this.newPassage,'titlechecked':false,editPassage:true})
      },
      deleteArr(index){
        this.list.splice(index,1)
      },
      testOne(){
        console.log(1)
      }
 	}
 })
</script>
</body>

</html>
